<div class="container">
  응용화학과 사물함 신청 페이지에 오신 것을 환영합니다.

  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">  사물함신청합시다.
        <h6 class="card-subtitle mb-2 text-muted"> 사물함신청합시다.</h6>
        <p class="card-text"> 사물함신청합시다.</p>
        <a href="/locker/applchem">사물함신청</a>
      </div>
      </div>
    </div>
    <div class="col">
        <% if user_signed_in? %>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">  &nbsp&nbsp&nbsp&nbsp<strong><%= current_user.name %></strong>&nbsp님 안녕하세요.</h5>
          <h6 class="card-subtitle mb-2 text-muted">현재 사물함을 사용하고 계십니다.</h6>
          <p class="card-text">현재 사물함을 사용하고 계십니다.</p>
          <%= link_to "로그아웃", destroy_user_session_path, method: "delete" %>
          <a href="#" class="card-link">Another link</a>
        </div>
        </div>
      <% else %>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= link_to "로그인", new_user_session_path, method: "get" %>
          <h5 class="card-title"><%= link_to "회원가입", new_user_registration_path, method: "get" %>
          <h6 class="card-subtitle mb-2 text-muted">사물함신청서비스를 위해 가입하셔야합니다..</h6>
          <p class="card-text">사물함신청서비스를 위해 가입하셔야합니다.</p>
          <a href="#" class="card-link">Another link</a>
        </div>
        </div>
      <% end %>
    </div>
  </div>




COPYRIGHT ⓒ 2018 DOEHOON KIM ALL RIGHT RESEVED.
