<div class="container container-fluid">
  <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">
          제휴제안 <small>Partner</small>
        </h3>
        <hr>
            현재 경희대학교를 대상으로 서비스를 하고 있으며, 추후 확대할 예정입니다.<br><br>
          <div class="col-sm-12 col-md-6">

            <div class="card">
              <div class="card-header">
                <strong>김도훈</strong><br>
                <small>dhooonk@naver.com</small><br></h3>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  경희대학교 응용화학과 / 전자공학과 재학중<br>
                  <a href="https://www.facebook.com/doehoon.kim" ><i class="fab fa-facebook"></i></a>
                  <a href="https://www.instagram.com/kimdoehoon/" ><i class="fab fa-instagram"></i></a>
                  <br>
                </blockquote>
              </div>
            </div>

          </div>

          <div class="col-sm-12 col-md-6">

            <div class="card">
              <div class="card-header">
                <strong>서원석</strong><br>
                <small>younha1000@daum.net</small><br></h3>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  경희대학교 컴퓨터공학과 재학중<br>
                  <a href="https://www.facebook.com/dydrlaks?fref=ts" ><i class="fab fa-facebook"></i></a>
                  <a href="https://www.instagram.com/dydrlaks/" ><i class="fab fa-instagram"></i></a>
                  <br>
                </blockquote>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
