<div class="container container-fluid">
<!-- Page Heading -->
<div class="row">
<div class="col-lg-12">

  <h3 class="page-header">
    개인정보처리방침 <small>Privacy Policy</small>
  </h3>
  <hr>
  
<div class="card">
  <div class="card-header">1. 개인정보의 처리 목적 <네자리내자리>(‘http://yl-ml.com/’이하 ‘네자리내자리’) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.</h3>
</div>
<div class="card-body">
- 고객 가입의사 확인, 회원자격 유지.관리 등
</div>
</div>
<div class="card">
  <div class="card-header">2. 개인정보의 처리 및 보유 기간</h3>
</div>
<div class="card-body">
① <네자리내자리>(‘http://yl-ml.com/’이하 ‘네자리내자리’) 은(는) 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유․이용기간 또는 법령에 따른 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.

② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.
☞ 아래 예시를 참고하여 개인정보 처리업무와 개인정보 처리업무에 대한 보유기간 및 관련 법령, 근거 등을 기재합니다.
(예시)- 고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권․채무관계 잔존시에는 해당 채권․채무관계 정산시까지
- 전자상거래에서의 계약․청약철회, 대금결제, 재화 등 공급기록 : 5년
</div>
</div>

<div class="card">
  <div class="card-header">3. 개인정보의 제3자 제공</h3>
</div>
<div class="card-body">
<네자리내자리>(‘http://yl-ml.com/’이하 ‘네자리내자리) 은(는) 정보주체의 별도 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우 외에는 개인정보를 제3자에게 제공하지 않습니다.
</div>
</div>
<div class="card">
  <div class="card-header">4. 개인정보처리 위탁</h3>
</div>
<div class="card-body">

① <네자리내자리>('네자리내자리')은(는) 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.

1. <경희대학교 단과대 및 학과 학생회>
- 위탁받는 자 (수탁자) : 경희대학교 단과대 및 학과 학생회
- 위탁하는 업무의 내용 : 본인인증, 회원제 서비스 이용에 따른 본인확인, 불만처리 등 민원처리, 고지사항 전달, 신규 서비스(제품) 개발 및 맞춤 서비스 제공
- 위탁기간 : 5년

② <네자리내자리>('http://yl-ml.com/'이하 '네자리내자리')은(는) 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.

③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.

</div>
</div>

<div class="card">
  <div class="card-header">5. 정보주체의 권리,의무 및 그 행사방법 이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.</h3>
</div>
<div class="card-body">
① 정보주체는 <기관/회사명>(‘사이트URL’이하 ‘사이트명) 에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
1. 개인정보 열람요구
2. 오류 등이 있을 경우 정정 요구
3. 삭제요구
4. 처리정지 요구
</div>
</div>

<div class="card">
  <div class="card-header">6. 처리하는 개인정보의 항목 작성</h3>
</div>
<div class="card-body">

① <네자리내자리>('http://yl-ml.com/'이하 '네자리내자리')은(는) 다음의 개인정보 항목을 처리하고 있습니다.

1<서비스이용>
- 필수항목 : 비밀번호, 로그인ID, 이름, 직책, 학과, 학번
</div>
</div>

<div class="card">
  <div class="card-header">7. 개인정보의 파기<네자리내자리>('네자리내자리')은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.</h3>
</div>
<div class="card-body">
-파기절차이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.-파기기한이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.
</div>
</div>
<div class="card">
  <div class="card-header">8. 개인정보의 안전성 확보 조치 <네자리내자리>('네자리내자리')은(는) 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</h3>
</div>
<div class="card-body">
1. 정기적인 자체 감사 실시
개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.

2. 개인정보 취급 직원의 최소화 및 교육
개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.

3. 내부관리계획의 수립 및 시행
개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.
</div>
</div>
<div class="card">
  <div class="card-header">9. 개인정보 보호책임자 작성</h3>
</div>
<div class="card-body">
① 네자리내자리(‘http://yl-ml.com/’이하 ‘네자리내자리) 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.

▶ 개인정보 보호책임자
성명 :김도훈, 서원석
연락처 :dhooonk@naver.com
</div>
</div>
<div class="card">
  <div class="card-header">10. 개인정보 처리방침 변경</h3>
</div>
<div class="card-body">

①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.

</div>
</div>
<div class="card">
  <div class="card-header">11. 앱 APK에 포함된 권한</h3>
</div>
<div class="card-body">
해당 어플은
버전 1.0 : appsgeyser를 통하여 출시(http://www.appsgeyser.com)
하였으며,
앱 APK에 포함된 버전 코드(1)가 특정 권한(android.permission.READ_PHONE_STATE,android.permission.READ_CONTACTS)을 필요로 합니다. APK에서 이 권한을 사용하는 앱에는 개인정보처리방침 세트가 필요합니다.
상위 권한은 appsgeyser를 통하여 앱을 제작하는 과정에서 자동 설정된 권한으로, 네자리내자리 자체적 기능과는 무관합니다.


</div>
</div>


</div>
</div>
</div>
</div>
